@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 211 63% 11%;
    --card: 230 100% 98%;
    --card-foreground: 211 63% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 211 63% 11%;
    --primary: 161 100% 21%;
    --primary-foreground: 0 0% 100%;
    --secondary: 225 15% 40%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 100% 97%;
    --muted-foreground: 143 10% 26%;
    --accent: 218 100% 95%;
    --accent-foreground: 161 100% 21%;
    --destructive: 0 76% 42%;
    --destructive-foreground: 0 0% 100%;
    --border: 136 12% 76%;
    --input: 136 12% 76%;
    --ring: 161 100% 21%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 221 55% 10%;
    --foreground: 226 92% 93%;
    --card: 224 38% 15%;
    --card-foreground: 226 92% 93%;
    --popover: 224 38% 15%;
    --popover-foreground: 226 92% 93%;
    --primary: 155 68% 59%;
    --primary-foreground: 158 100% 11%;
    --secondary: 157 71% 57%;
    --secondary-foreground: 159 100% 11%;
    --muted: 222 41% 13%;
    --muted-foreground: 136 12% 76%;
    --accent: 222 28% 19%;
    --accent-foreground: 155 68% 59%;
    --destructive: 6 100% 84%;
    --destructive-foreground: 357 100% 21%;
    --border: 144 10% 26%;
    --input: 144 10% 26%;
    --ring: 155 68% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

[data-radix-popper-content-wrapper] {
  z-index: 60 !important;
  pointer-events: auto !important;
}
